.thirdPage{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.pattern-option{
  width: .74rem;
  height:87%;
  position: absolute;
  right: .48rem;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content:center;
}
.pattern-option > div{
  background-size:100% 100%;
  width: .74rem;
  height: .74rem;
  margin-bottom: .104rem;
  background: #ccc;
  cursor: pointer;
  position: relative;
}
#a3 > div{
  width: 2.03rem;
  height: 2.495rem;
  background:rgba(0,0,0,.5);
  position: absolute;
  left:-2.14rem;
  top: -.7rem;
}
#a3 > div:after{
  content: '';
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 8px solid rgba(0,0,0,.5);
  border-bottom: 8px solid transparent;
  position: absolute;
  left: 100%;
  top: 40%;
}
#a4 > div{
  width: 5.09rem;
  height: 7.23rem;
  position: absolute;
  left:-5.2rem;
  top: -4rem;
  border:.05rem solid rgba(0,0,0,.5);
}
#a4 > div:after{
  content: '';
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 8px solid rgba(0,0,0,.5);
  border-bottom: 8px solid transparent;
  position: absolute;
  left: 5.04rem;
  top: 60%;
}
#a5 > div{
  width: 2.02rem;
  height: 1.11rem;
  background:rgba(0,0,0,.5);
  position: absolute;
  left:-2.14rem;
  top: -.2rem;
  padding: .245rem .235rem;
}
#a5 > div:after{
  content: '';
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 8px solid rgba(0,0,0,.5);
  border-bottom: 8px solid transparent;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -6px;
}
.show-pattern-background{
  width: 100%;
  height: 100%;
}
/* ++++++++++++++++++++++++ */
.control-panel{
  width: 100%;
  height: 1.19rem;
  position: absolute;
  bottom: 0.46rem;
  z-index: 4;
}
.panel-left{
  width: 1.34rem;
  height: 100%;
  padding-right: 0.11rem;
  float:left;
}
.backBtn1{
  width: 100%;
  font-size: .2rem;
  height: 100%;
  background:rgba(0,0,0,1) url(../images/common/left.png) no-repeat 20% 50%;
  background-size: 10%;
  opacity: .5;
  color:rgba(252,252,252,1);
  display: flex;
  justify-content:center;
  align-items:center;
  cursor: pointer;
}
.color-panel-padding{
  width: 8.61rem;
  height: 100%;
  float: left;
}
.color-panel{
  width: 100%;
  height: 100%;
  background:url(../images/common/order-color.png);
  position: relative;
}
.wheel-panel{
  width: 4.73rem;
  height: 100%;
  float: left;
  background:url(../images/common/order-color.png);
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
}
.space-panel{
  width: 4.52rem;
  height: 100%;
  float: left;
  background:url(../images/common/order-color.png);
  position: relative;
}
.color-panel-box{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
.color-panel-box .box{
  width: 1.02rem;
  height: 100%;
  cursor: pointer;
  margin-left: 0.15rem;
  position: relative;
}

.color-panel-box .box div:nth-child(1){
  width: 100%;
  height: 0.06rem;
  background: rgba(213,0,28,1);
}
.color-panel-box .box p:nth-child(2){
  color:rgba(252,252,252,1);
  text-align: center;
  font-size: 0.16rem;
  line-height: .3rem;
}
.color-panel-box .box img{
  width: 1.02rem;
  position:absolute;
  top: 0.39rem;
  left: 0;
}
.wheel-panel-box{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
.wheel-panel-box .box{
  width: 0.71rem;
  height: 100%;
  cursor: pointer;
  margin-left: 0.28rem;
  position: relative;
}
.wheel-panel-box .box div:nth-child(1){
  width: 100%;
  height: 0.06rem;
  background: rgba(213,0,28,1);
}
.wheel-panel-box .box p:nth-child(2){
  color:rgba(252,252,252,1);
  text-align: center;
  line-height: .35rem;
  font-size: 0.16rem;
}
.wheel-panel-box .box img{
  width: 100%;
  position:absolute;
  top: 0.38rem;
  left: 0;
}
.space-panel-box{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
.space-panel-box .box{
  width: 1.02rem;
  height: 100%;
  cursor: pointer;
  margin-left: 0.15rem;
  position: relative;
}
.space-panel-box .box div:nth-child(1){
  width: 100%;
  height: 0.06rem;
  background: rgba(213,0,28,1);
}
.space-panel-box .box p:nth-child(2){
  color:rgba(252,252,252,1);
  text-align: center;
  line-height: .35rem;
  font-size: 0.16rem;
}
.space-panel-box .box img{
  width: 100%;
  margin-top: 5px;
  position:absolute;
  top: 0.38rem;
  left: 0;
}

.division{
  width: 0.02rem;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  background: #fff;
}
.division img{
  width: 0.8rem;
  position:absolute;
  left: -.4rem;
  top: 50%;
  margin-top: -0.4rem;
  cursor: pointer;
  opacity: 0.5;
}
.area{
  width: 100vw;
  height: 100vh;
}
.carBox{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  float: left;
  overflow: hidden;
  z-index: 1;
}
.carBox-vs{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  float: left;
  overflow: hidden;
  z-index: 2;
}
.car{
  width: 100%;
  height: 100%;
}
.car > div{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top:0;
}
.car div{
  width: 100%;
}
.car img{
  width: 100vw;
  height:100vh;
}
.col{
  overflow: hidden;
}
.col1,.col2,.col3,.col4,.col5{
  position:absolute;
  left:0;
  top:0;
  z-index:1;
}
.lg{
  position:absolute;
  left:0;
  top:0;
  z-index:1;
}
.dianBox{
  width:100vw;
  height:50vh;
  position:absolute;
  left:0;
  top:0;
}
.hotpoint{
  width: 100%;
  height: 100%;
  position: absolute;
}
.hotpoint img{
  position: absolute;
  width: 3vw;
  height: 3vw;
  z-index: 10;
}
/* 指导价格 */
.facturer-suggest p:nth-child(1){
  font-size: .12rem;
  text-align:left;
  color:#fff;
  line-height: .1rem;
}
.facturer-suggest p:nth-child(2){
  width:.37rem;
  height:0.01rem;
  background:rgba(213,0,28,1);
  margin: 0.11rem 0 0.155rem 0;
}
.facturer-suggest p:nth-child(3){
  text-align:left;
  font-size: .25rem;
  color:#fff;
  line-height: .2rem;
}

